In [1]:
import numpy as np
import pandas as pd

import networkx as nx

import sys; sys.path.insert(0, '..') # add parent folder path where discrepancies folder is

from discrepancies import datasets, pool, pool2graph, evaluation, discrepancies_intervals, pool2graph_cat

RANDOM_STATE = 42

import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# Get data and fit a pool of classifiers on it

#X_train, X_test, y_train, y_test, scaler, feature_names, target_names = datasets.get_dataset(n_samples=1000, noise=0.3)
X_train, X_test, y_train, y_test, scaler, feature_names, target_names, cat_names = datasets.get_dataset(dataset='adult-cat')


print(X_train.shape, y_train.mean())

taking only 5000 instances
(3350, 5) 0.23313432835820896

In [5]:
X_train

       capital-gain       age  capital-loss  education-num  hours-per-week
26441     -0.826599 -0.103091     -0.317410      -0.440824       -0.418460
275        0.233693 -0.268842      0.717388      -0.401450       -0.070976
43716     -0.991606 -0.850343     -0.179496       0.289193        1.130125
16612      1.141617  1.062080      0.234742      -1.137675        0.679586
35823      1.141623 -0.744170      0.529886       0.495564       -0.025405
...             ...       ...           ...            ...             ...
25483     -0.980112 -0.967187      1.141121      -0.485846       -0.441916
34985     -0.748257  0.234457     -0.898743       0.180752        1.080056
19462     -2.505992 -0.606943     -0.578373       1.157395        2.928268
11369      0.146788  1.062196      0.530508       0.691731        0.319588
20778     -0.905411  0.121560      0.253043      -0.136800       -1.394648

[3350 rows x 5 columns]

In [6]:

pool1 = pool.BasicPool()
pool1 = pool1.fit(X_train, y_train)

preds = pool1.predict(X_test)
from sklearn.metrics import f1_score
print({c: f1_score(y_test, preds[c]) for c in preds.columns})


p2g = pool2graph.pool2graph(X_train, y_train, pool1, k_init=10)
#p2g.fit(max_epochs=10)

{'SVMrbf': 0.3166332665330661, 'SVMpoly': 0.03836930455635491, 'SVMsigmoid': 0.15006468305304008, 'RF50': 0.5452091767881242, 'RF100': 0.5495978552278822, 'RF200': 0.5531335149863761, 'KNN5': 0.5710455764075066}

28923    0
13584    1
5038     0
13032    0
47262    1
        ..
35647    0
43899    0
34548    0
11116    0
21034    1
Name: class, Length: 1650, dtype: int64

In [9]:
X_train

,capital-gain,age,capital-loss,education-num,hours-per-week,sex_Female,sex_Male
37071,-0.156027,-1.067584,-0.220768,1.170824,-0.437496,-0.695896,0.695896
40134,-0.156027,1.767834,-0.220768,-0.390275,-0.035672,-0.695896,0.695896
4681,-0.156027,1.477022,-0.220768,-1.561098,-1.241143,1.436996,-1.436996
24636,-0.156027,-0.413257,-0.220768,-1.170824,2.375270,-0.695896,0.695896
29447,1.156773,1.040804,-0.220768,1.561098,2.375270,-0.695896,0.695896
...,...,...,...,...,...,...,...
13136,-0.156027,-1.358396,-0.220768,-0.390275,-0.839320,1.436996,-1.436996
40894,-0.156027,0.604585,-0.220768,0.000000,0.767975,-0.695896,0.695896
36994,-0.156027,1.186210,-0.220768,1.170824,-2.044791,-0.695896,0.695896
45409,-0.156027,-1.503802,-0.220768,-1.170824,-1.241143,-0.695896,0.695896
16123,-0.156027,1.186210,-0.220768,-0.390275,-2.607344,-0.695896,0.695896